:root {
  /* CSS HEX */
  --space-cadet: #2b2d42ff;
  --manatee: rgb(176, 185, 201);
  --cultured: #edf2f4ff;
  --amaranth-red: #d90429ff;
  --secondary: #31343D;
}

header {
 background-color: var(--space-cadet);
}

.App,main, footer {
  background-color: var(--manatee);
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  color: var(--cultured);
}

h2 {
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
}

nav li {
  list-style: none;
  cursor: pointer;
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.5rem;
  color: var(--cultured);
}

.navActive {
  cursor: default;
  color: var(--amaranth-red);
  text-shadow: 1px 1px 0px var(--cultured);
}

footer {
  font-size: 48px;
}

footer a {
  color: var(--secondary);
  opacity: .5;
  margin: 30px 20px;
  transition: all .3s ease-in-out;
}

footer a:hover {
  opacity: 1;
}

.profilePhoto {
  width: 100%;
  border-radius: 50%;
}