:root {
  --secondary: #31343D;
}

nav li {
  list-style: none;
}


footer {
  font-size: 48px;
}

footer a {
  color: var(--secondary);
  opacity: .5;
  margin: 30px 20px;
  transition: all .3s ease-in-out;
}

footer a:hover {
  opacity: 1;
}
